<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script>
  $(document).ready(function(){
    $('a.edit').click(function () {
    var text = $('.name').text();
    var input = $('<input id="name1" type="text" value="' + text + '" />')
    $('.name').text('').append(input);
    input.select();
    $('.save').show();
    })
    $('a.save').click(function () {
        $('.name').html ( $('#name1').val() );
        $('.save').hide();
    })
    $('a.edit').click(function () {
    var text = $('.mail').text();
    var input = $('<input id="mail1" type="text" value="' + text + '" />')
    $('.mail').text('').append(input);
    input.select();
    $('.save').show();
    })
    $('a.save').click(function () {
        $('.mail').html ( $('#mail1').val() );
        $('.save').hide();
    })
    $('a.edit').click(function () {
    var text = $('.phone').text();
    var input = $('<input id="phone1" type="text" value="' + text + '" />')
    $('.phone').text('').append(input);
    input.select();
    $('.save').show();
    })
    $('a.save').click(function () {
        $('.phone').html ( $('#phone1').val() );
        $('.save').hide();
    })
  });
    </Script>
</head>

<body>
    <% include ./partials/loggedtop.ejs %>
    <% include ./partials/parshionerNav.ejs %>

            <!-- page code -->
            <!-- <div class="col-sm-6"> -->
            <div class="container">
                <div class="row">
                    <div>
                        <div class="jumbotron">
                                <div align="right"></div>
                            <div class="row">
                                <div class="col-sm-2 col-sm-6">
                                    <img src="/jolaine.jpg" alt="" class="img-rounded img-responsive" />
                                </div>
                                <div class="col-sm-7">
                                  <div class="align-top"><a class= "edit" href="#"><div align="right"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil"></span> Edit</button></div></a></div>

                                    <h2>Welcome Jolaine!</h2>


                                    <p>
                                            <i class="glyphicon glyphicon-user"></i><b>Name:</b> <label class="name">Jolaine</label>
                                            <br />
                                        <i class="glyphicon glyphicon-envelope"></i><b>Email:</b> <label class="mail">jolaine@example.com</label>
                                        <br />
                                        <i class="glyphicon glyphicon-phone"></i><b>Contact:</b>  <label class="phone">+16605280000</label></p>
                                          <div class="align-top"><a class= "save" href="#" hidden><div align="right"><button type="button" class="btn btn-default btn-sm">save</button></div></a></div>
                                    <!-- Split button -->
                                    Note:<textarea name="message" rows="2" cols="100">Ill be free during Saturdays and Sundays between 10 am to 7pm.
                                            </textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><div class="col-sm-9">Your ministries</div><a href= "/ministriessurvey" ><div align="right"><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-pencil"></span> Edit</div></a></div>
                            <div class="panel-body">


                                    <ul><a href="/ministryEdit">Adult Faith Formation Programs<font color="red">(Lead)</font></a></ul>
                                    <ul><a href="/ministry">Altar Servers</a></ul>
                                    <ul><a href="/ministry">Annulment Advocate</a></ul>
                                    <ul><a href="/ministry">Art & Environment Committee</a></ul>
                                    <ul><a href="/ministry">Bereavement Ministry</a></ul>
                                </div>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                                <div class="panel-heading"><div class="col-sm-9">Your skills</div><a href= "/allskills" ><div align="right"><button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-pencil"></span> Edit</div></a></div>
                            <div class="panel-body">
                                    <ul>Writing</ul>
                                    <ul>Graphic Design</ul>
                                    <ul>Hardscape</ul>
                                    <ul>Leadership</ul>
                                    <ul>Photography</ul>
                            </div>

                        </div>
                    </div>
                    
            </div>
        <!-- </div> -->



            <!-- <div class="col-sm-9 col-sm-12">
            <div class="container" > -->
            <!-- <div class="col-sm-4">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" class="col-sm-3">Updates</div>
                        <div class="panel-body">
                            <ul>
                                <li>Event one has started </br>
                                </li>
                                <li>event 2 has ended</br>
                                </li>
                                <li>event 3 is on 2-23-2017, You are welcome to it </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- </div>
        </div> -->
            <!-- page code -->
</body>

</html>
