<<<<<<< .mine
<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="http://cdn.grapecity.com/spreadjs/hosted/css/gc.spread.sheets.excel2013white.10.1.0.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://cdn.grapecity.com/spreadjs/hosted/scripts/gc.spread.sheets.all.10.1.0.min.js"></script>
  <script type="text/javascript" src="http://cdn.grapecity.com/spreadjs/hosted/scripts/interop/gc.spread.excelio.10.1.0.min.js"></script>
  <script type="text/javascript">
      $("#btnPrint").live("click", function () {
          var divContents = $("#dvContainer").html();
          var printWindow = window.open('', '', 'height=400,width=800');
          printWindow.document.write('<html><head><title>Skills</title>');
          printWindow.document.write('</head><body >');
          printWindow.document.write(divContents);
          printWindow.document.write('</body></html>');
          printWindow.document.close();
          printWindow.print();
      });
      $("#btnPrint2").live("click", function (e) {
        let file = new Blob([$('#dvContainer2').html()], {type:"application/vnd.ms-excel"});
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
        href: url,
        download: "List_of_Ministries.xls"}).appendTo("body").get(0).click();
        e.preventDefault();
      });

      
  </script>
 <style>
body {
    font-size: 12pt;
    font-family: Calibri;
    padding : 10px;
}
table {
    border: 1px solid black;
}
th {
    border: 1px solid black;
    padding: 5px;
    background-color:grey;
    color: white;
}
td {
    border: 1px solid black;
    padding: 5px;
}
input {
    font-size: 12pt;
    font-family: Calibri;
}
</style>
</head>

<body>
  <% include ./partials/loggedtop.ejs %>
  <% include ./partials/adminnav.ejs %>
  
    <div class = "container">   
    <div class="row">
        <div class="jumbotron">
            <h2>Please click below to download the survey</h2>
            <!-- <div>
                    <span> <label><input type="radio" name="optradio" class="skill">List of all skills</label> </span> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </div>
            <div>       
                    <span><label><input type="radio" name="optradio" class="category">List of Categories</label></span>
            </div> -->
            <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
            <script type="text/javascript">
                var pdf = new jsPDF();
                pdf.text(30, 30, '');
                pdf.save('hello_world.pdf');
            </script> -->
            <form id="form1">
                    <div id="dvContainer" hidden>
                            <div class="container">
                                   
                                   
                                  <!-- <h4><b>Active Ministries:</b><h4> <h5> Click on the ministry name to view descriptions and activities of the ministry.  Use the navigation tools in the menu bar to easily move from ministry to ministry.</h5> -->
                                  <div id="Ministrycontainer" class="panel panel-default">
                                      <div class="panel-heading"><b>OUR MINISTRIES</b></div>
                                      <div id="panel-body">
                                          <form action="/minsurvey" method="post">
                                          <ul class="ministryListBlk">
                                          <% for(let i=0; i<ministrylist.length; i++) { %>
                                                    <ol><%= ministrylist[i].minisrtyname  %></ol>
                                          <% } %>
                                          </ul>
                                      </div></div>
                                  </div>
                        
                            
                            
                               
                    </div>
                                
                           
                            
                            
                            
                                  <div id="dvContainer2" hidden>
                                        <table>
                                                <tr>
                                                    <th>Ministries</th>
                                                    
                                                </tr>
                                                <tr>
                                                <% for(let i=0; i<ministrylist.length; i++) { %>
                                                        <%= ministrylist[i].minisrtyname  %>
                                              <% } %>
                                              </tr>

                                            </table>
                                  </div>
                            
                                </form>
                                </div>
                            
                            </div>
            
                    
                    <input type="button" class="btn btn-info" value="as PDF" id="btnPrint" />
                    <input type="button" class="btn btn-info" value="as Excel" id="btnPrint2" />
                  
                    </form>

        </div>
    </div>
<!-- </tr> -->
</div>

</body>
</html>


</html>




=======
<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="http://cdn.grapecity.com/spreadjs/hosted/css/gc.spread.sheets.excel2013white.10.1.0.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://cdn.grapecity.com/spreadjs/hosted/scripts/gc.spread.sheets.all.10.1.0.min.js"></script>
  <script type="text/javascript" src="http://cdn.grapecity.com/spreadjs/hosted/scripts/interop/gc.spread.excelio.10.1.0.min.js"></script>
  <script type="text/javascript">
      $("#btnPrint").live("click", function () {
          var divContents = $("#dvContainer").html();
          var printWindow = window.open('', '', 'height=400,width=800');
          printWindow.document.write('<html><head><title>Ministries List</title>');
          printWindow.document.write('</head><body >');
          printWindow.document.write(divContents);
          printWindow.document.write('</body></html>');
          printWindow.document.close();
          printWindow.print();
      });
      $("#btnPrint2").live("click", function (e) {
        let file = new Blob([$('#dvContainer2').html()], {type:"application/vnd.ms-excel"});
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
        href: url,
        download: "List_of_Ministries.xls"}).appendTo("body").get(0).click();
        e.preventDefault();
      });

      
  </script>
 <style>
body {
    font-size: 12pt;
    font-family: Calibri;
    padding : 10px;
}
table {
    border: 1px solid black;
}
th {
    border: 1px solid black;
    padding: 5px;
    background-color:grey;
    color: white;
}
td {
    border: 1px solid black;
    padding: 5px;
}
input {
    font-size: 12pt;
    font-family: Calibri;
}
</style>
</head>

<body>
  <% include ./partials/loggedtop.ejs %>
  <% include ./partials/adminnav.ejs %>
  
    <div class = "container">   
    <div class="row">
        <div class="jumbotron">
            <h2>Here is the list of all ministries</h2>
            <h3>Download here
                    <input type="button" class="btn btn-info" value="as PDF" id="btnPrint" />
                    <input type="button" class="btn btn-info" value="as Excel" id="btnPrint2" />  
                    </h3>
            
            <!-- <div>
                    <span> <label><input type="radio" name="optradio" class="skill">List of all skills</label> </span> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </div>
            <div>       
                    <span><label><input type="radio" name="optradio" class="category">List of Categories</label></span>
            </div> -->
            <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
            <script type="text/javascript">
                var pdf = new jsPDF();
                pdf.text(30, 30, '');
                pdf.save('hello_world.pdf');
            </script> -->
            <form id="form1">
                    <div id="dvContainer">
                            <div class="container">
                                   
                                  <!-- <h4><b>Active Ministries:</b><h4> <h5> Click on the ministry name to view descriptions and activities of the ministry.  Use the navigation tools in the menu bar to easily move from ministry to ministry.</h5> -->
                                  <div id="Ministrycontainer" class="panel panel-default">
                                      <div class="panel-heading"><b>OUR MINISTRIES</b></div>
                                      <div id="panel-body">
                                          <form action="/minsurvey" method="post">
                                          <ul class="ministryListBlk">
                                          <% for(let i=0; i<ministrylist.length; i++) { %>
                                                    <ol><%= ministrylist[i].minisrtyname  %></ol>
                                          <% } %>
                                          </ul>
                                      </div></div>
                                  </div>
                        
                            
                            
                               
                    </div>
                                
                           
                            
                            
                            
                                  <div id="dvContainer2" hidden>
                                        <table>
                                                <tr>
                                                    <th>Ministries</th>
                                                    
                                                </tr>
                                                <tr>
                                                <% for(let i=0; i<ministrylist.length; i++) { %>
                                                        <tr></tr><%= ministrylist[i].minisrtyname  %></tr>
                                              <% } %>
                                              </tr>

                                            </table>
                                  </div>
                            
                                  

                                </div>
                            
                            </div>
                        </div>
                    
                   
                  
                   

        
    </div>
<!-- </tr> -->
</div>

</body>
</html>


</html>
>>>>>>> .theirs
